@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'montserrat', sans-serif;
    background-color: #151515;
    color: #FFFFFF;
    width: 100vw;
    height: 100vh;
}
body{
    overflow-x: hidden;
}

.container{
    width: 100%;
    /* height: auto; */
    position: relative;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-top: 50px;
    padding:0;
}

.title-left{
    width: 50%;
    padding:150px;
    display: flex;
    flex-direction: column;
    gap:25px;
}

.blue-span{
    color:#135EFF;
}

.title-left button{
    background-color:#135EFF;
    padding:12px;
    color:white;
    border-top-left-radius: 10px;
    border-bottom-right-radius:10px;
    font-size:20px;
}

.title-right{
    max-width: 50%;
}
.title-right img{
    max-width:  100%;
    height: auto;
}

.container-apresentação{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding:60px;
}

.container-apresentação .title-right img{
    width: 100%;
}

.bem-vindo{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#135EFF;
    padding:20px;
    margin-top:-10px;
    position:absolute;
}

.container-cards{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 520px;
    gap:20px;
    padding-top:100px;
    padding-bottom:100px;
    padding-left:250px;
    padding-right: 250px;
}

.card-container{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid #135EFF;
    border-top-left-radius: 10px;
    border-bottom-right-radius:10px;
    /* align-items: center; */
}
.container-cards .card-icone{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-cards .card-icone img{
    width: 70px;
    background-color:white;
    padding:16px;
    border: 2px solid #135EFF;
    border-radius: 100px;
    position:absolute;
    margin-top:-100px;
}
.card-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card-text h1{
    color:#135EFF;
}
.card-text ul{
    list-style: none;
}

.container-h2{
    width: 100%; 
    color:#135EFF; 
    display: flex; 
    justify-content: center;
    text-align: center;
}
.container-vamos-conversar{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:30px;
    /* padding:200px; */
}
.container-vamos-conversar .center{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:30px;
    padding:10px;
    /* border: 2px solid #135EFF;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px; */
}

.container-vamos-conversar h1{
    color:#135EFF;
}
.container-vamos-conversar button{
    width: 100%;
    background-color:#135EFF;
    padding:12px;
    color:white;
    border-top-left-radius: 10px;
    border-bottom-right-radius:10px;
    font-size:20px;
}
.container-vamos-conversar button a{
    text-decoration: none;
    color:white;
}

.container-servicos{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:6rem;
}

.servicos-left{
    max-width: 50%;
    padding:150px;
    display: flex;
    flex-direction: column;
    gap:20px;
}
.servicos-left h1{
    color:#135EFF;
}
.servicos-right{
    max-width: 50%;
}
.servicos-right img{
    max-width: 75%;
}

@media (max-width: 1920px){
    .bem-vindo{
        margin-top: -20px;;
    }
    .container-cards{
        gap:20px;
        padding-top:100px;
        padding-bottom:100px;
        padding-left:200px;
        padding-right: 200px;
    }
}


@media (max-width: 767px){
    .container{
        flex-direction:column;
        width: 100%;
        align-items: center;
    }
    .title-left{
        width: 100%;
        padding:50px;
    }
    .title-right{
        max-width: 100%;
        /* height: 100%; */
    }
    .container-apresentação{
        flex-direction: column;
        width: 100%;
        gap: 15px;
    }

    .container-apresentação .title-left{
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .container-apresentação .title-right img{
        width: 100%;
        padding: 0px;
    }
    .container-cards{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap:80px;
        padding:40px;
        margin:0;
        font-size: 14px;
    }

    .card-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border: 2px solid #135EFF;
        border-top-left-radius: 10px;
        border-bottom-right-radius:10px;
        margin:0;
        /* padding:20px; */
    }


    .container-h2{
        padding:20px;
        font-size:20px;
    }

    .container{
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }

    .container-vamos-conversar{
        padding:0;
    }

    .container-vamos-conversar button{
        width: 100%;
    }
    .container-vamos-conversar .center{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap:30px;
        padding:50px;
        /* border: 2px solid #135EFF;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px; */
    }
    .container-servicos{
        flex-direction: column;
        margin-top:0;
    }
    .servicos-left{
        max-width: 100%;
        padding:50px;
        
    }
    .servicos-left h1{
        color:#135EFF;
    }
    .servicos-right{
        width: 100%;
    }
    .servicos-right img{
        max-width: 100%;
    }
}







/* From Uiverse.io by Subaashbala */ 
button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em 0em 1em 1em;
    background-color: yellow;
    cursor: pointer;
    box-shadow: 4px 6px 0px black;
    /* border: 2px solid; */
    /* border-radius: 15px; */
    position: relative;
    overflow: hidden;
    z-index: 100;
    transition: box-shadow 250ms, transform 250ms, filter 50ms;
  }
  button:hover {
    transform: translate(2px, 2px);
    box-shadow: 2px 3px 0px black;
  }
  button:active {
    filter: saturate(0.75);
  }
  button::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #54ea1d;
    z-index: -1;
    transform: translateX(-100%);
    transition: transform 250ms;
  }
  button:hover::after {
    transform: translateX(0);
  }

  
/* From Uiverse.io by dylanharriscameron */ 
.card {
    position: relative;
    width: 200px;
    height: 250px;
    border-radius: 14px;
    z-index: 1111;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    ;
  }
  
  .bg {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 190px;
    height: 240px;
    z-index: 2;
    background: #151515;
    backdrop-filter: blur(24px);
    border-radius: 10px;
    overflow: hidden;
    outline: 2px solid #135EFF;
  }
  
  .blob {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ff0000;
    opacity: 1;
    filter: blur(12px);
    animation: blob-bounce 5s infinite ease;
  }
  
  @keyframes blob-bounce {
    0% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
  
    25% {
      transform: translate(-100%, -100%) translate3d(100%, 0, 0);
    }
  
    50% {
      transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
    }
  
    75% {
      transform: translate(-100%, -100%) translate3d(0, 100%, 0);
    }
  
    100% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
  }
  